resources:
 - ../../base
namespace: skireports-beech
commonLabels:
  mountain: beech
  env: dev
patches:
- path: ingress.yaml
  target:
    group: networking.k8s.io
    version: v1
    kind: Ingress
    name: frontend-ingress
- path: ingress.yaml
  target:
    group: networking.k8s.io
    version: v1
    kind: Ingress
    name: backend-ingress
- path: frontend.yaml
  target:
    group: apps
    version: v1
    kind: Deployment
    name: frontend
- path: backend.yaml
  target:
    group: apps
    version: v1
    kind: Deployment
    name: backend
