apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: skireports-mountain
resources:
  - namespace.yaml
# - frontend.yaml 
  - backend.yaml 
  - cache.yaml 
# - jobs.yaml 
configMapGenerator:
  - name: redis-config
    files:
      - redis-config
  - name: backend-config
    literals:
      - redis-url=cache-service
      - api-url=beech.skireports.home.seifts.us/api
  - name: jobs-config
    literals:
      - redis-url=cache-service
